.reach-out-page{
  margin: 3em;
    padding: 2.5em;
  border: 2px solid rgb(116, 116, 116);
  border-radius: 1em;
}

.reach-out-page h2{
  font-size: 2.2em;
  font-weight: 500;
}

/* Styling for the Reach Out section */
.social-media {
  margin-bottom: 2em;
}

.social-media h2 {
  margin-bottom: 1em;
}

.social-media p {
  margin: 0.5rem 0;
  padding: 0.8rem;
  font-size: 1.3em;
}

.social-media label {
  display: block;
  margin-bottom: 0.5em;
  padding: 1em;
}

.social-media-input {
  display: flex;
  /* width: 100%n; */
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 0.5em;
  font-size: 1em;
}

.social-media-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

.social-media-button {
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: rgb(116, 116, 116);
  color: white;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
}

/* Styling for the Skills section */
