.experience-section{
  margin: 3em;
  padding: 2.5em;
  border: 1px solid black;
  border-radius: 1.1em;
}
.profile-page__heading{
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: 1em;
}
.profile-page__add-btn{
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1em;
  color: white;
  cursor: pointer;
  background-color: #008489;
  padding: 1rem;
  border-radius: 1em;
}
.profile-page__form{
  margin: 1.3em;
}
.profile-page__form-label{
  font-size: 1.2em;
  font-weight: 400;
  padding-right: 2em;
}
.profile-page__form-input{
  width: 35%;
  height: 2.5em;
  margin-top: 1rem;
  margin-left: 1em;
}
.profile-page_form-input_decription{
  margin-top: 2em;
}
.profile-page__form-submit-btn{
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1em;
  color: white;
  cursor: pointer;
  background-color: #008489;
  padding: 1rem;
  border-radius: 1em;
  margin-right: 1.5em;
}
.profile-page__form-cancel-btn{
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1em;
  color: white;
  cursor: pointer;
  background-color: #636363;
  padding: 1rem;
  border-radius: 1em;
}
.profile-page__work-experience{
  margin-top: 1em;
  padding: 2.5em;
  background-color: #f1f1f1;
}
.profile-page__work-experience-company{
  font-size: 3.1em;
  font-weight: 700;
}
.profile-page__work-experience-title{
  font-size: 1.6em;
  font-weight: 200;
}
.profile-page__work-experience-date{
  margin-top: 1.3rem;
  font-size: 1.1em;
  font-weight: 400;
}
.profile-page__work-experience-description{
  font-size: 1.2em;
  font-weight: 200;
}